/* @format */

/* Text-Shadow */

h1{
    text-shadow: 2px 2px 2px brown;
}



/* Box-Shadow */

.box{
    height: 200px;
    width: 200px;
    background: linear-gradient(45deg, rgb(0, 0, 30), rgb(91, 91, 9));
    /* border-radius: 50%; */
    /* box-shadow: 5px 5px 15px rgb(191, 15, 15); */
    box-shadow: 5px 5px 15px rgb(191, 15, 15), 5px 5px 10px rgb(2, 66, 116);
}
